header{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  

}

header.pages{
  height: auto;
}

@keyframes moveTop {
  0% {
    background-position-y: 0;
    
   
}

100% {
    background-position-y: -100%;
}
}

@keyframes moveTops{
   0% {
    height: 0;
    background-position-y: 0;
    
   
}

100% {
    background-position-y: -100%;
    height: 1000px;
}
}

nav{
  height: 120px;
}
header .main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 8;
  position: relative;

}

.header-nav .logo{

        
        display: flex;
        align-items: center;
        gap: 20px;
 }   

.header-nav .logo img{

  width: 60px;
        height: 60px;
}
.header-nav .menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
}


.header-nav .menu ul li{
  height: 40px;
  width: fit-content;
  position: relative;
}
.header-nav .menu ul li a{
height: 100%;
  padding: 0px 15px;
  border-radius: 50px;
  transition: all .3s ease;
   border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  font-size: 20px;
   color: var(--color-Primary1);
  transition: all .3s ease;
  display: inline-block;
  align-content: center;
  position: relative;

}



.header-nav .menu-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

 .nav-icons a{
 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    color: var(--color-Primary1);


}

.nav-icons a:hover{
    /* background: linear-gradient(0, rgba(12, 79, 137, 1) 0%, rgba(43, 169, 224, 1) 100%);
  color: var(--color-white); */

}
 .nav-icons a path{
    transition: all 0.3s ease;
}

 .nav-icons a:hover path {

    stroke: white;
}


 .nav-btn button{
    padding: 0px 20px;
    font-size: 20px;
    width: 150px;
}



/* hero */

.hero {
  align-items: center;
  flex: 1;
  display: flex;
  height: calc(100vh - 120px );
}

.hero .row{
  height: 100%;
  align-items: center;
}

.hero .col-lg-5{
  height: 100%;
}

.hero-text{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero-text h2{
 font-size: 32px;
   font-weight: 600;

}
.hero-text h2 span{
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
  color: var(--color-Primary2);
}

.hero-text p{
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.hero-img {
  height: 100%;
  overflow: hidden; /* تمنع الصورة تطلع برا */
}

.hero-img img {
  height: 100%;
  object-fit: contain; /* أو cover حسب الشكل المطلوب */
  display: block;
}








/* responsive */


.show-menu {
  border: 1px solid var(--gray);
  color: var(--gray);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
  display: none;
  background: linear-gradient(0, rgba(12, 79, 137, 1) 0%, rgba(43, 169, 224, 1) 100%);
}

.show-menu:hover {
  color: var(--primary1);
  border: 1px solid var(--primary1);
}
.responsive-menu .nav-icons{
  justify-content: center ;
}



/* responsive */

.responsive-menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #fff;
  padding: 10px;
  bottom: 0;
  width: 300px;
  transition: 0.4s;
  z-index: 10;
  background-image: url("../images/hero\ section.png");
  background-size: cover;
  background-position: center;
}

.responsive-menu.show {
  right: 0;
}

.responsive-menu .search-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: block;
}

.responsive-menu .search-input button {
  height: 35px;
  width: 35px;
}

.responsive-menu .search-input button svg {
  width: 25px;
}

.responsive-menu .search-links a p {
  font-size: 12px;
  color: #fff;
}

.responsive-menu .search-links {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.responsive-menu .search-links svg {
  color: #fff;
  transition: 0.4s;
  font-size: 17px;
  width: 17px;
}

.responsive-menu .search-links svg path {
  stroke: #fff;
}

.responsive-menu .links-container {
  width: 100%;
  text-align: center;
}

.responsive-menu .links-container .header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--black);
  position: relative;
  transition: 0.4s;
  cursor: pointer;
  height: 40px;
  color: #fff;
}

.responsive-menu .links-container .header-link:hover .ctm-menu-custom {
  display: block;
}

.responsive-menu .links-container .header-link .ctm-menu-custom {
  z-index: 9;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #d1d1d178;
  transition: 0.4s;
  left: -100%;
  z-index: 9;
}

.overlay.show {
  left: 0;
}

.responsive-menu .search-input input {
  background-color: #fff;
}

.responsive-logo {
  width: 100%;
  padding-right: 15px;
}





.remove-mune {
  position: absolute;
  top: 35px;
  left: 15px;
}

.remove-mune img {
  width: 40px;
  height: 40px;
  display: block;
  transition: all 0.2s linear;
  position: relative;
  cursor: pointer;
  
}

.remove-mune span::after {
  content: "";
  height: 2px;
  background-color: var(--color-Primary1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  transition: all 0.6s linear;
}

.remove-mune span::before {
  content: "";
  height: 2px;
  background-color: var(--color-Primary1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  transition: all 0.2s linear;

  transition-delay: 0.6s;
}

.responsive-menu.show .remove-mune span::before {
  transform: rotate(90deg) translateY(-50%);
}

.responsive-menu.show .remove-mune span {
  transform: rotate(45deg);
}

.sub-header {
  height: auto;
}




.element_menu_responsive .main-menu .about-company .dropdown{
  width: 100%;
}

.element_menu_responsive .main-menu .about-company.language{
  z-index: 1;
}

.element_menu_responsive .main-menu .about-company .dropdown-menu{
    inset: 0px auto auto 50% !important;
    transform: translate3d(-50%, 52px, 0px) !important;
}

.element_menu_responsive .main-menu .about-company .dropdown-menu li{
  width: 100%;
}

.element_menu_responsive .main-menu .about-company .dropdown-toggle{
  background-color: var(--primary1);
  border-radius: 0;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
}
.element_menu_responsive .main-menu .about-company li a{
  color: var(--primary1);
  text-align: center;
}




header .search-bar{
  margin-top: 140px;
}

header .search-bar,
header .search-bar form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .search-bar h2{
  font-size: 24px;
  color: white;
}

header .search-bar input{
  height: 40px;
  width: 400px;
  border-radius: 50px;
  padding: 10px 45px 10px ;
  border: none;
}

header .search-bar .input-control{
  position: relative;
}


header .search-bar .input-control img{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.download-app{
  display: flex;
  justify-content: center; 
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.download-app a{
   width: 190px;
}


.download-app a img{
  width: 100%;
}


